#hd {
    background-color: #2d1152;
    border-bottom: 3px solid #000000;
    border-top: 3px solid #000000;
}

h1 {
    color: #FFFFFF;
    font-weight: bold;
    padding-left: 0.45em;
}

body {
    background-color: #fafafc;
}

#content {
    margin: 1.5em;
}
