<div class="outer-nav">
    <div class="inner-nav">
        <nav class="property-blogs">
            <h4>Our Blogs</h4>
            <ul>
                <li><a href="http://yahoo.tumblr.com" class="yahoo">Yahoo</a></li>
                <li><a href="http://yahoosearch.tumblr.com" class="search">Search</a></li>
                <li><a href="http://yahoomessenger.tumblr.com" class="messenger">Messenger</a></li>
                <li><a href="http://yahoomail.tumblr.com" class="mail">Mail</a></li>
                <li><a href="http://yahoosports.tumblr.com" class="sports">Sports</a></li>
                <li><a href="http://yahooanswers.tumblr.com" class="answers">Answers</a></li>
                <li><a href="http://flickr.tumblr.com" class="flickr">Flickr</a></li>
                <li><a href="http://yahoofinance.tumblr.com" class="finance">Finance</a></li>
                <li><a href="http://yahooentertainment.tumblr.com" class="entertainment">Entertainment</a></li>
                <li><a href="http://yahooscreen.tumblr.com" class="screen">Screen</a></li>
                <li><a href="http://yahoonews.tumblr.com" class="news">News</a></li>
                <li><a href="http://yahoogroups.tumblr.com" class="groups">Groups</a></li>
                <li><a href="http://yahoolabs.tumblr.com" class="labs">Labs</a></li>
            </ul>
        </nav>
    </div>
</div>

